*~
\#*#
._*
.Apple*
.DS_Store

.vscode

.tmp
pybooksim2.egg*
pybooksim2/CMakeFiles
pybooksim2/CMakeCache.txt
pybooksim2/cmake*
pybooksim2/Makefile
pybooksim2/lib
pybooksim2/src
pybooksim2/bin
pybooksim2/pybooksim2.c
pybooksim2/pybooksim2.cpp
pybooksim2/*.so
pybooksim2/*.html